DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_NAME='nestjs-blog'
DATABASE_USER='postgres'
DATABASE_PASSWORD='andy_123'
DATABASE_SYNC='true'
DATABASE_AUTOLOAD_ENTITIES='true'

PROFILE_API_KEY: 'your_profile_api_key'

JWT_SECRET=14wts6aqb+E6QPk/XuX/3g==
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


TESTING='development testing'
